/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(34, 19, 10);
  background: #0b2e0ba4;
}
/* Link Styles */

a {
  text-decoration: none;
  color:  rgb(34, 19, 10);
}
a:hover {
  color: #795636;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #04250462;
  min-height: 25px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 900;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  color: rgb(39, 26, 13);
}

.nav .name {
    display: block;
    margin-right: auto;
    color: rgb(39, 26, 13);
    padding: 10px;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

header {
  text-align: center;
  background: url('../images/profiles/panorama.jpg') no-repeat top center ;
  background-size: 1900px 500px ;
  overflow: hidden;
  padding-top: 61px;
}

header {
  line-height: 1.5;

}
header .profile-image {
  margin-top: 50px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid rgb(43, 25, 5);
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.5) rotate(360deg);
}

.tag-name {
  background-color: hsla(30, 55%, 78%, 0.767);
  color: rgb(39, 12, 12);
  padding: 10px;
  border-radius: 20px;
  display: table;
  margin: 10px auto;
}

.transparent-name-color {
  background-color: hsla(30, 55%, 78%, 0.452);
  color: rgb(39, 12, 12);
}

.tag-location {
  background-color: rgba(39, 12, 12, 0.911);
  color: rgba(230, 199, 168, 0.678);
  padding: 10px;
  border-radius: 20px;
  display: table;
  margin: 10px auto;
} 

.transparent-loc-color {
  background-color: rgba(39, 12, 12, 0.747);
  color: rgba(230, 199, 168, 0.856);
} 

.location {
  background-color: rgba(248, 247, 247, 0.651);
  color: rgb(240, 221, 193);
}

.card {
  margin: 10px;
  padding: 20px 40px 40px;
  max-width: 500px; 
  text-align: center;
  background: rgb(240, 221, 193);
  border-bottom: 7px solid #c76565c0;
  border-radius: 11px;
  transition: all .5s;
}

.card:hover {
  border-color: #f5dbcc;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 7px;
  display: inline-block;
  background: #e6b976;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #c76565c0;
}

.newclass {
  margin-top: 50px;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  color: #70b4e2a1;
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.5;
  transition: all .5s;
}

a.twitter {
  background-image: url(../images/socials/twitter.svg);
}

a.linkedin {
  background-image: url(../images/socials/linkedin.svg);
}

a.github {
  background-image: url(../images/socials/github.svg);
}

a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
  .pasta {
    border: solid 4px rgba(54, 33, 33, 0.849);
    border-radius: 5%;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  .me {
    border: solid 4px rgba(54, 33, 33, 0.849);
    border-radius: 5%;   
  }
  
  .diva {
    border: solid 4px rgba(54, 33, 33, 0.849);
    border-radius: 5%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

